
<footer class="page-footer teal">
  <div class="container ">
    <div class="row">
      <div class="col l6 s12">
       
       	<span class = 'white-text ft_size-5'>Please let us know your suggestions and if any bugs occur kindly provide a detail report about it.<br> </span>
       	<a href = '#' class = 'btn waves-effect'> <i class="material-icons">input </i> Suggestions or Report </a><br><br>
  		

      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class=""></h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">About</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Developer</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Changelogs</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Something <i> <span class="new badge relative mg-l-20"> </span></i>  </span></a></li>
        </ul>

        <br>
        
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2014 Copyright <span><i> FP</i></span>
    <a class="grey-text text-lighten-4 right" href="#!"></a>
    </div>
  </div>
</footer>